DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/dtkubracolak?schema=public"
ADMIN_EMAIL="admin@dtkubracolak.com"
ADMIN_PASSWORD="12345678"
ADMIN_SESSION_SECRET="replace-with-at-least-32-random-characters"
